@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700&display=swap');

/* *{
    font-family: 'AR One Sans', sans-serif;
} */
/* ::-webkit-scrollbar{
    width: 0;
    height: 0;
} */

.wrapp__app{
    display: flex;
    align-items: center;
}

.btn__theme{
    margin: 0 0 auto 0; 
}