.logo__megagroup{
    max-width: 900px;
    max-height: 100vh;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    filter: blur(2px);
    mix-blend-mode: soft-light;
    opacity: 0.4;
    animation: flag 5s infinite;
    transform: rotateY(8deg);
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    position: absolute;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

@keyframes flag {
    0%{
        transform: rotateY(8deg);
    }
    50%{
        transform: rotateY(352deg);
    }
    50%{
        transform: rotateY(0deg);
    }
}