.wrapp__qa-main{
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
}
.wrapp__qa{
    max-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 215px;
    border: 2px solid rgba(255, 255, 255, 0.38);
    padding: 0 0 0 10px;
}
.wrapp__qa ul{
    padding: 0;
    list-style-type: none;
    display: flex;
}
.wrapp__qa li{
    margin: 0 10px 0 0;
}